<footer>
    <div class="footer-wrapper">

        <div class="footer-logo">

            {% render "partials/logo.liquid" extra_class: 'logo-footer', 
                mobile_logo: mobile_logo, 
                desktop_logo: desktop_logo 
            %}

            <p class="logo-text">De digitale krant <br> van de Buurtcampus</p>

        </div>

        <nav class="desktop-nav-footer">
             <a href="/" class="link-button">
                <img src="/assets/logo-toren-home.svg" alt="Home">
            </a>
            <a href="nieuw-west" class="link-button">
                <img src="/assets/logo-toren-nieuw-west.svg" alt="Nieuw-West">
            </a>
            <a href="zuidoost" class="link-button">
                <img src="/assets/logo-toren-zuidoost.svg" alt="Zuidoost">
            </a>
            <a href="oost" class="link-button">
                <img src="/assets/logo-toren-oost.svg" alt="Oost">
            </a>
        </nav>

        <div class="footer-content">
            <ul class="content-pages">
                <h4 class="titel-socials">Pagina's</h4>
                <li><a href="/" target="_blank">Home<img src="/assets/pijl-link-icon.svg" alt="Bezoek linkedin" class="arrow-link"></a></li>
                <li><a href="/nieuw-west" target="_blank">Nieuw-west<img src="/assets/pijl-link-icon.svg" alt="Bezoek linkedin" class="arrow-link"></a></li>
                <li><a href="/zuidoost" target="_blank">Zuidoost<img src="/assets/pijl-link-icon.svg" alt="Bezoek linkedin" class="arrow-link"></a></li>
                <li><a href="/oost" target="_blank">Oost<img src="/assets/pijl-link-icon.svg" alt="Bezoek linkedin" class="arrow-link"></a></li>
                <li><a href="/archief" target="_blank">Archief<img src="/assets/pijl-link-icon.svg" alt="Bezoek linkedin" class="arrow-link"></a></li>
            </ul>

            <ul class="content-socials">
                <h4 class="titel-socials">Socials</h4>
                <li><a href="https://linkedin.com" target="_blank">LinkedIn<img src="/assets/pijl-extern-icon.svg" alt="Bezoek linkedin" class="arrow-extern"></a></li>
                <li><a href="https://facebook.com" target="_blank">Facebook<img src="/assets/pijl-extern-icon.svg" alt="Bezoek facebook" class="arrow-extern"></a></li>
                <li><a href="https://instagram.com" target="_blank">Instagram<img src="/assets/pijl-extern-icon.svg" alt="Bezoek instagram" class="arrow-extern"></a></li>
            </ul>
        </div>
    </div>
    
    <div class="subfooter">
        <p>© 2026 Buurtcampus</p>
    </div>
    </footer>

        <script src="/js/script.js"></script>
</body>
</html>
