    {% assign mobile_logo = "/assets/logo-compact-zuidoost.svg" %}
    {% assign desktop_logo = "/assets/logo-lang-zuidoost.svg" %}
    {% assign current_district = 'zuidoost' %}

    {% render 'partials/head.liquid',
        pageClass: "zuidoost",
        mobile_logo: mobile_logo,
        desktop_logo: desktop_logo
    %}

    <main class="main-zuidoost">

        <div class="titel-district">
           <h1> Zuidoost </h1> 
        </div>

        {% render 'partials/targetgroups.liquid', 
            selectedTargetGroup: selectedTargetGroup,
            current_district: current_district%}

        <section class="section-cards">
            <div class="cards-medium">
                {% for story in stories %}
                    {% render 'partials/card-medium.liquid', story: story, categories: categories %}
                {% endfor %}
            </div>
        </section>

    </main>

    {% render 'partials/foot.liquid',
        mobile_logo: mobile_logo,
        desktop_logo: desktop_logo
    %}